<div class="flex-container">
  <a href="https://www.linkedin.com/in/abhijeet-chougale/" target="_blank"
    ><img src="../../../assets/Linkedin-logo.png" alt="Linkedin" />
  </a>
  <a href="https://www.naukri.com/mnjuser/profile" target="_blank">
    <img src="../../../assets/Naukari-logo.png" alt="Naukari" />
  </a>
  <a href="https://www.linkedin.com/in/abhijeet-chougale/" target="_blank">
    <img src="../../../assets/Instagram-logo.png" alt="Instagram" />
  </a>
</div>
<div class="more-icon" (click)="toggleMenu()">&#x22EE;</div>
<div class="mobile-menu" *ngIf="mobileMenuVisible">
  <a href="https://www.linkedin.com/in/abhijeet-chougale/" target="_blank"
    ><img src="../../../assets/Linkedin-logo.png" alt="Linkedin" />
  </a>
  <a href="https://www.naukri.com/mnjuser/profile" target="_blank">
    <img src="../../../assets/Naukari-logo.png" alt="Naukari" />
  </a>
  <a href="https://www.linkedin.com/in/abhijeet-chougale/" target="_blank">
    <img src="../../../assets/Instagram-logo.png" alt="Instagram" />
  </a>
</div>
